<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link href="../../css/styles_formulario/styles_formulario1.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <header>
 
        <figure class="container_logo">
          <a href="../../index.html">
            <img src="../../img/logo.png" class="logo" alt="logo">
          </a>
        </figure>
        <nav>
          <a href="../../index.html">Home</a></li>
        </nav>
    
    </header>
    
    <main class="container_formulario">
        <h2> Formulario 1</h2>
        <form class="formulario" action="" method="post">

            <div class="form_group">
                <label for="nombre" class="label_form">Nombre completo:</label>
                <input type="text" id="nombre" name="nombre" class="input_form">
            </div>

            <div class="form_group">
                <label for="correo" class="label_form">Correo electrónico:</label>
                <input type="text" id="correo" name="correo" class="input_form">
              
            </div>

            <div class="form_group">
                <label for="mensaje" class="label_form">Mensaje:</label>
                <textarea id="mensaje" name="mensaje" class="input_form textarea"></textarea>
            </div>

            <div class="botones">
                <input type="submit" id="enviar" class="boton" name="Enviar">
            </div>
        </form>
    </main>

</body>

</html>