<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/formulario.css">
  <title>Portafolio_Formulario</title>
</head>

<header>
 
    <figure class="container_logo">
      <a href="../../index.html" class="logo">
        <img src="../../img/logo.png" alt="logo">
      </a>
    </figure>
    <nav>
      <a href="../../index.html">Home</a></li>
    </nav>

</header>

<body>
  <div class="group">
    <input type="text" name="apellido" id="apellido">
    <label for="apellido">apellido</label>
  </div>

  <div class="formulario">
    <form action="">
      <p>cual es tu color favorito</p>
      <div class="group una_option">
        <input id="rojo" name="color" type="radio" value="rojo">
        <label for="rojo">rojo</label><br>
        <input id="azul" name="color" type="radio" value="azul">
        <label for="azul">azul</label><br>
        <input id="verde" name="color" type="radio" value="verde">
        <label for="verde">verde</label><br>
        <input id="otro" name="otro" type="radio">
        <label for="otro">otro</label><br>
      </div>
      <div class="botones">
        <button types="submit">Enviar</button>
        <button types="Reset">Limpiar</button>
      </div>

    </form>
  </div>

  <div class="formulario">
    <form action="" method="get">
      <p>cual te gusta mas</p>
      <div class="group multiple_option">
        <input id="manzana" name="frutas" type="checkbox" value="manzana">
        <label for="manzana">manzana</label><br>
        <input id="banana" name="frutas" type="checkbox" value="banana">
        <label for="banana">banana</label><br>
        <input id="frutilla" name="frutas" type="checkbox" value="frutilla">

        <div class="botones">
          <input type="submit" class="boton" value="Enviar" name="enviar" id="enviar">
        </div>


    </form>

  </div>

</body>

</html>