<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles_formulario/formulario5.css" type="text/css">
    <title>Formulario</title>
</head>

<body>
    <header>

        <figure class="container_logo">
            <a href="../../index.html" class="logo">
                <img src="../../img/logo.png" alt="logo">
            </a>
        </figure>
        <nav>
            <a href="../../index.html">Home</a></li>
        </nav>

    </header>

    <main class="container_formulario">
        <form action="" method="post">
            <fieldset>
                <legend>Campos de varios tipos</legend>


                <div class="form_group">
                    <input type="text" class="input_form" name="Nombre" id="nombre" maxlength="30" required
                        pattern="[A-Z][a-z]">
                    <label for="Nombre" class="label_form">Nombre</label>
                </div>

                <div class="form_group">
                    <input type="text" name="numero" id="numero" maxlength="9" minlength="9" pattern="[0-9]"
                        class="input_form">
                    <label for="numero" class="label_form">Numero</label>
                </div>

                <div class="form_group">
                    <input type="password" class="input_form" required maxlength="30" minlength="8">
                    <label for="" class="label_form">Contraseña</label>
                </div>

                <div class="form_group">
                    <input type="range" class="inpút_form range">
                </div>

            </fieldset>
            <fieldset>
                <legend>Datos personales</legend>

                <div class="form_group">
                    <input type="text" class="input_form">
                    <label for="name" class="label_form">Nombre</label>
                </div>

                <div class="form_group">
                    <input type="text" class="input_form" id="apellido" name="apellido">
                    <label for="apellido">Apellido</label>
                </div>

            </fieldset>
            <div class="form_group">
                <label for="Numero" class="label_form">Ingrese un numero</label>
                <input type="number" name="Numero" id="Numero" class="input_form">
            </div>
            <article class="section_genero">
                <h2 class="subtitle">Radio</h2>
                <div class="form_group">
                    <label for="genero">Indique su genero</label>
                    <input type="radio" class="input_form_radio">
                    <input type="radio" class="input_form_radio">
                </div>
            </article>
            <article class="section_interes">
                <h3 class="subtitle">Seleciona tus interces</h3>
                <div class="form_group">
                    <input type="checkbox" name="pelicula" id="pelicula">
                    <label for="pelicula">Pelicula</label>

                    <input type="checkbox" name="libro" id="libro">
                    <label for="libro">Libro</label>

                    <input type="checkbox" name="revista" id="revista">
                    <label for="revista">Revista</label>
                </div>

            </article>

            <div class="form_group">
                <label for="mensaje">Mensaje</label>
                <input type="text" placeholder="Comience con mayuscula" name="mensaje" id="mensaje" class="input_form">
                <label for="mensaje">Placeholder</label>
            </div>

            <div class="form_group">
                <input type="text" class="input_form" name="focus">
                <label for="focus">Auto fucus</label>
            </div>

            <div class="form_group">
                <input type="text" class="input_form" name="parent">
                <label for="parent">Parent</label>
            </div>

            <div class="form_group">
                <select name="opcion" id="opcion">
                    <option value="">opcion 1</option>
                    <option value="">opcion 2</option>
                    <option value="">opcion 3</option>
                    <option value="">opcion 4</option>
                </select>
            </div>
            <div class="form_group">
                <label for="ciudad">Indique una ciudad</label>
                <input type="text" name="ciudad">
            </div>
        </form>
    </main>
</body>

</html>